# SITE CONFIGURATION
title: Melon ASR/ML # your site title
author: Melon # You :P
description: > # Meta description of Homepage
    Machine Learning and Automatic Speech Recognition BLOG
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://melon1024.github.io/" # the base hostname & protocol for your site, e.g. http://example.com

# SEO PLUGIN
social:
  name: Your Name
  links:
  # THEME SETTINGS
navigation: # Navigation links
  - {name: 'Home', link: '/'}


tagline: >
    음성인식과 머신러닝 블로그

hero_img: posts/sleek_lg.jpg # Main background image: use the path from /assets/img/ => This will output /assets/img/posts/sleek_lg.jpg

email: ohjs@u.sogang.ac.kr # email for form submission

github_username : melon1024

disqus:
  shortname: melon1024 # to enable comments replace with your_disqus_shortname

google_tag_manager: GTM-TZMQSRG # Uncomment to enable GTM. Replace GTM-XXXXXXX with your GTM container ID

service_worker: true

# BUILD SETTINGS
markdown: kramdown
highlighter: rouge # or pygments or null

# theme: jekyll-sleek # Uncomment if you're using the theme as a ruby gem
kramdown:
  input: GFM
  syntax_highlighter_opts:
    css_class: 'highlight'
    span:      
        line_numbers: false
    block:
        line_numbers: false
        start_line: 1
 # span, block element options fall back to global
  exclude:
  - README.md
  - node_modules
  - script
  - package.json
  - package-lock.json
  - Gemfile
  - Gemfile.lock
  - vendor
  - npm-debug.log
  - gulpfile.js
  - sleek.jpg

include: ['_pages']
permalink: /:title/

compress_html:
  clippings: all

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-gist
